
<div class="container col-7 mt-5 p-3 rounded" style="background-color: rgba(255, 255, 0, 0.292);">
<h2 class="mb-4 text-success text-center">User Detail</h2>
<%= link_to "Back", users_path, class: "btn btn-sm btn-secondary" %>
<%= render @user %>
</div>